/resources/node_modules/
/source/
/vendor/
/var/
/composer.lock
/tests/.phpunit.result.cache
/tests/.env
/tests/Codeception/_output/*
!tests/Codeception/_output/.gitkeep
/tests/reports/*
!tests/reports/.gitkeep