# disabling file access
<FilesMatch .*>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        order allow,deny
        deny from all
    </IfModule>
</FilesMatch>
<FilesMatch .*\.png|\.css|\.js>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        order allow,deny
        allow from all
    </IfModule>
</FilesMatch>

Options -Indexes