parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: max
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
includes:
    - phpstan-baseline.neon
