parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 8
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Method OxidSolutionCatalysts\\AmazonPay\\Core\\Helper\\PhpHelper::prepareResponse\(\) has parameter \$response with no type specified#'

includes:
    - phpstan-baseline.neon
