AMAZONPAY_BUYER_USERNAME=psdev+amazon6@oxid-esales.com
AMAZONPAY_BUYER_PASSWORD=psdev+amazon6
OXID_ADMIN_USERNAME=management@management.com
OXID_ADMIN_PASSWORD=useruser
OXID_CLIENT_USERNAME=amazonpayuser@oxid-esales.dev
OXID_CLIENT_PASSWORD=useruser