# changes should be applied to the github secrets and the keypass file
AMAZONPAY_CLIENT_USERNAME=mailaddress
AMAZONPAY_CLIENT_PASSWORD=password
OXID_ADMIN_USERNAME=mailaddress
OXID_ADMIN_PASSWORD=password
OXID_CLIENT_USERNAME=mailaddress
OXID_CLIENT_PASSWORD=password