# changes should be applied to the github secrets and the keypass file
AMAZONPAY_CLIENT_USERNAME=amazonpayuser@oxid-esales.dev
AMAZONPAY_CLIENT_PASSWORD=admin
OXID_ADMIN_USERNAME=admin@myoxideshop.com
OXID_ADMIN_PASSWORD=admin0303
OXID_CLIENT_USERNAME=amazonpayuser@oxid-esales.dev
OXID_CLIENT_PASSWORD=admin
MODULE_AMAZON_PAY_STORE_ID=amzn1.application-oa2-client.e1a3bc3e386c4d62babb5a0b9848a00a
MODULE_AMAZON_PAY_MERCHANT_ID=AXKWXOIXG4XI6
MODULE_AMAZON_PAY_PUB_KEY_ID=AGSGYF4VFSU5IPJTWCYTGLNK
MODULE_AMAZON_PAY_PRIV_KEY=/var/www/extensions/amazonpay/tests/privatekey.pem
