<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" backupStaticAttributes="false" bootstrap="bootstrap.php" colors="false" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningsToExceptions="false" forceCoversAnnotation="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" beStrictAboutTestsThatDoNotTestAnything="true" verbose="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <exclude>
      <directory suffix=".php">../tests/</directory>
      <directory suffix=".php">../translations/</directory>
      <directory suffix=".php">../views/</directory>
      <directory suffix=".php">../out/</directory>
      <directory suffix=".php">../docs/</directory>
      <file>../metadata.php</file>
    </exclude>
  </coverage>
</phpunit>
