<div class="text-center mb-3 amazonpay-button large">
    {% include "@osc_amazonpay/amazonpay/amazonexpressbutton" with {buttonId: "AmazonPayButtonNextCartbasket_bottom", buttonclass: "large", placement: "Cart"} %}
</div>
<div class="text-center mb-3 amazonpay-button-or large">
    {{ "OR"|translate|upper }}
</div>