<div class="row">
    <div class="col-md-12 card mb-3">
        <h4 class="card-header card-title">{{ "AMAZON_PAY"|translate|upper }}</h4>
        <div class="card-body">
            {{ translate({ ident: "AMAZON_PAY_GUARANTEE" }) }}
        </div>
        <div class="card-body">
            {% include "@osc_amazonpay/amazonpay/amazonloginbutton" with {buttonId: "AmazonPayButtonCheckoutUser", buttonclass: "small"} %}
        </div>
    </div>
</div>