<div class="amazonpay-button-or">{{ "OR"|translate|upper }}</div>
<div class="xol-xs-12">
    {% include "@osc_amazonpay/amazonpay/amazonexpressbutton" with {buttonId: "AmazonPayButtonMiniCart", buttonclass: "large", placement: "Cart"} %}
</div>