<div class="amazonpay-button-or text-center">{{ "OR"|translate|upper }}</div>
<div class="amazonpay-button large col-md-6 pull-right">
    {% include "@osc_amazonpay/amazonpay/amazonexpressbutton" with {buttonId: "AmazonPayButtonMiniCart", buttonclass: "large", placement: "Cart"} %}
</div>