<div class="text-center amazonpay-button-or w-100 mb-2">{{ "OR"|translate|upper }}</div>
<div class="w-100 mb-2">
    {% include "@osc_amazonpay/amazonpay/amazonexpressbutton" with {buttonId: "AmazonPayButtonMiniCart", buttonclass: "large", placement: "Cart"} %}
</div>