{% capture assign = "amazonpay_script_user_checkout_shipping_head" %}
    var userChangeShippingAddress = document.getElementById('userChangeShippingAddress');
    userChangeShippingAddress.addEventListener('click', function(e) {
    e.preventDefault();
    }, false);
amazon.Pay.bindChangeAction('#userChangeShippingAddress', {
    amazonCheckoutSessionId: '{{ oViewConf.getAmazonSessionId() }}',
    changeAction: 'changeAddress'
});
{% endcapture %}
{{ script({ add: amazonpay_script_user_checkout_shipping_head, dynamic: __oxid_include_dynamic }) }}
<h4 class="card-header card-title card-header-edit d-flex justify-content-between align-items-center">
    {{ translate({ ident: "SHIPPING_ADDRESS" }) }}
    <button id="userChangeShippingAddress"
            class="btn btn-outline-dark btn-sm float-end dd-action dd-edit-shipping-address edit-button"
            name="changeShippingAddress"
            type="submit"
            title="{{ translate({ ident: "CHANGE" }) }}">
        <svg>
            <use xlink:href="#pencil"></use>
        </svg>
    </button>
</h4>

