{% capture assign = "amazonpay_script_user_checkout_shipping_head" %}
var userChangeShippingAddress = document.getElementById('userChangeShippingAddress');
userChangeShippingAddress.addEventListener('click', function(e) {
    e.preventDefault();
}, false);

amazon.Pay.bindChangeAction('#userChangeShippingAddress', {
    amazonCheckoutSessionId: '{{ oViewConf.getAmazonSessionId() }}',
    changeAction: 'changeAddress'
});
{% endcapture %}
{{ script({ add: amazonpay_script_user_checkout_shipping_head, dynamic: __oxid_include_dynamic }) }}
<h3 class="panel-title">
    {{ translate({ ident: "SHIPPING_ADDRESS" }) }}
    <button id="userChangeShippingAddress"
            class="btn btn-xs btn-warning pull-right submitButton largeButton"
            name="changeShippingAddress"
            type="submit"
            title="{{ translate({ ident: "CHANGE" }) }}">
        <i class="fa fa-pencil"></i>
    </button>
</h3>
