{% extends "page/details/inc/productmain.html.twig" %}

{% block details_productmain_tobasket %}
    {{ parent() }}
    <!-- Amazon -->
    <div class="text-center amazonpay-button-or large">{{ "OR"|translate|upper }}</div>
    {% include '@osc_amazonpay/amazonpay/amazonexpressbutton' with {buttonId: "AmazonPayButtonProductMain", oxArticlesId: oDetailsProduct.oxarticles__oxid.value, placement: "Product"} %}
    <br />
{% endblock %}
